?xml version="1.0"?>

<model>
  <name>Dummy Bot</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Ryan D. Lewis</name>
    <email>public@ryandlewis.dev</email>
  </author>

  <description>
    A simple dummy robot to test implementations on in simulation.
  </description>
</model>
